* {
	box-sizing: border-box;
}

.set-background {
	background-color: #1F1D1D;
	color: #FFFFFF;
}

.horizontal-center {
	margin: auto;
	text-align: center;
	width: 50%
}

.adjust-space-between-lines-first-line {
	margin: 0;
}

.adjust-space-between-lines {
	margin: 0;
	padding-top: 0;
}

#text-inline {
	display: inline;
}

.top-right {
	position: absolute;
	top: 8px;
	right: 16px;
}

.left-side {
	position: fixed;
	top: 8px;
	left: 16px;
	width: 70%;
	overflow: auto;
}

a.link:link {
	color: #FFFFFF;
	text-decoration: none;
}

a.link:visited {
	color: #FFFFFF;
	text-decoration: none;
}

a.link:hover {
	color: #FFFFFF;
	text-decoration: none;
}

a.link:active {
	color: #FFFFFF;
	text-decoration: none;
}

.projects-style {
	font-size: 20px;
	font-weight: 350;
}

.menu {
	color: #1F1D1D;
	background-color: #FFFFFF;
	border-radius: 15px;
}

.right-side {
	position: fixed;
	top: 8px;
	right: 16px;
	width: 30%;
	height: 100%;
	overflow: auto;
	text-decoration: none;
}

.project-rect {
	width: 100%;
	height: 120px;
	background-color: #151515;
	border-radius: 25px;
	box-shadow: 5px 5px #000000;
	padding: 15px;
	font-style: none;
	color: #FFFFFF;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
}

.modal-background {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgb(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #1F1D1D;
	margin: 5% auto;
	padding: 25px;
	border: 1px solid #313030;
	border-radius: 15px;
	width: 80%;
}

.modalclosebtn {
	position: absolute;
	width: 40px;
	display: inline;
	top: 10px;
	right: 10px;
	border: none;
	border-radius: 25px;
	background-color: #FFFFFF;
	font-size: 11px;
}

.checkoutonghbtn {
	text-decoration: none;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 15px;
	width: calc(20% + 5px);
}

@media screen and (max-width: 700px) {
	.left-side {
		position: relative;
		margin-right: 16px;
		width: 90%;
	}
	.right-side {
		width: 100%;
		height: auto;
		position: relative;
	}
	.project-rect {
		width: 80%;
		margin-left: 32px;
	}
}
